
@function font-weight($weight, $map: false) {
	@if $map {
		$font-weights: ();
		$font-weights: set-weights($map, $font-weights);
		@if map-has-key($font-weights, $weight) {
			@return map-get($font-weights, $weight);
		} @else {
			@warn '#{$weight} does not exist in current font-weights.';
			@return null;
		}
	} @else {
		@if type-of($font-primary) !=
			"map"
			and
			type-of($font-secondary) !=
			"map"
			and
			type-of($font-tertiary) !=
			"map"
			and
			type-of($font-quaternary) !=
			"map"
		{
			@warn 'there are not fonts defined to create weights';
			@return null;
		} @else {
			// Combine all the fonts-weights:
			$font-weights: ();
			$font-weights: set-weights($font-quaternary, $font-weights);
			$font-weights: set-weights($font-tertiary, $font-weights);
			$font-weights: set-weights($font-secondary, $font-weights);
			$font-weights: set-weights($font-primary, $font-weights);
			@if map-has-key($font-weights, $weight) {
				@return map-get($font-weights, $weight);
			} @else {
				@warn '#{$weight} does not exist in current font-weights.';
				@return null;
			}
		}
	}
}

@function set-weights($font-map, $weights) {
	@if type-of($font-map) == "map" {
		@if map-has-key($font-map, "weights") {
			@return map-merge($weights, map-get($font-map, "weights"));
		} @else {
			@return $weights;
		}
	} @else {
		@return $weights;
	}
}
